
*{
    font-size: 13px;
}

body{
    padding: 0;
    margin: 1;
    overflow: none;
}

input{
    font-size: 14px;

}

table{
    border-collapse: collapse;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}

.panel{
    border: 1px solid black;
    float: left;
    overflow: hidden;
}


#sidepanel{
    width: 200px;
    border-right: none;
}

#mainpanel{
    width: auto;
}


.bottom{
    clear: both;
}



/* sidepanel */
#server_address{
    width: 120px;
}

.tabs .item{
    background-color: #EEEEEE;
    margin: 1px;
    float: left;
}


.children{
    margin-left: 12px;

}

#cct_outer{
    overflow: scroll;
}

#cct_inner{
}

.treenode{
}

.nodelabel{
    width: 500px;
    cursor: pointer;
}
.nodelabel_hover
{
    color: red;
    font-weight: bold;
}
.nodelabel *{
    vertical-align: middle;
}

.children{

}

.sqv_sq{
    border: 1px solid black;
    position: absolute;
    overflow: none;
    text-align: center;
    vertical-align: middle;
}


/* List Panel */

td.number{
    text-align: right;
}

#list_body_head th{
    height: 2px;
}
